header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.site-title > img {
    height: 30px;
}
#nav-icon {
    content: url(./assets/images/icon-menu.svg);
    z-index: 101;
}
#nav-icon.closed {
    content: url(./assets/images/icon-menu-close.svg);
}
nav {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
}
nav a:hover {
    color: var(--soft-red);
}
nav > ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 1.5em;
    background-color: var(--off-white);
    height: 100%;
    width: 68%;
    padding-top: 8em;
    padding-bottom: 1.5em;
    padding-left: 1.3em;
    padding-right: 1em;
    font-size: 1.2em;
}