@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root {
    
    /* HSL Colour variables */
    /* Primary */
    --soft-orange: 35, 77%, 62%;
    --soft-red: 5, 85%, 63%;
    
    /* Neutral */
    --off-white: 36, 100%, 99%;
    --grayish-blue: 233, 8%, 79%;
    --dark-grayish-blue: 236, 13%, 42%;
    --very-dark-blue: 240, 100%, 5%;
    
    /* Typography */
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: hsl(var(--dark-grayish-blue));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(var(--off-white));
}
.hidden {
    display: none;
}
.off-screen {
    visibility: none;
    position: absolute;
    top: -2em;
}
.container {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h3 {
    color: hsl(var(--very-dark-blue))
}
main {
    display: grid;
    row-gap: 2em;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 601px) {
    .container {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        margin-top: 5em !important;
        margin-bottom: 2.6em !important;
    }
    .site-title img {
        height: 42px !important;
    }
    #nav-icon {
        display: none;
    }
    #navigation {
        display:contents;
    }
    #navigation ul {
        flex-direction: row;
        padding: 0;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1.65em;
    }
    main {
        grid-template: 
            "featured new"
            "top      top";
        grid-template-columns: 48.7rem auto;
        column-gap: 2rem;
    }
    .section-featured {
        grid-area: featured;
    }
    .section-new {
        grid-area: new;
    }
    .section-top {
        grid-area: top;
    }
}