.section-new {
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.section-new h2 {
    font-size: 32px;
    color: var(--soft-orange);
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.section-new > article {
    padding-bottom: 2em;
}
.section-new > article:not(:first-of-type) {
    padding-top: 1em;
}
.section-new > article:not(:first-child, :last-child) {
    border-bottom: 1px solid var(--dark-grayish-blue);
}
.section-new h3 {
    color: var(--off-white);
    font-size: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.section-new a:hover {
    color: var(--soft-orange);
}
.section-new p {
    line-height: 1.5em;
    color: var(--off-white);
}

@media only screen and (min-width: 601px) {
    .section-new {
        justify-content: flex-start;
        padding-left: 1.6em;
        padding-right: 1.6em;
    }
    .section-new h2 {
        font-size: 42px;
        margin-top: 0.65em;
    }
    .section-new h3 {
        margin-top: -0.3em;
        letter-spacing: 0.02em;
        word-spacing: 0.025em;
    }
    .section-new p {
        line-height: 1.7em;
        word-spacing: 0.03em;
    }
    .section-new > article:not(:first-of-type) {
        padding-top: 1.85em;
    }
}